<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="styles.css" />
		<title>Dot Dager</title>
	</head>
	<body>
		<main>
			<!-- Hero section -->
			<section id="hero">
				<div class="container-md text-center p-2">
					<div class="hero-text">
						<h1 class="raleway-black text-light my-4">
							Dot Dager,
							<div class="changing-text fw-normal">texto</div>
						</h1>
						<div
							class="icons-container d-flex justify-content-center gap-4 mb-4"
						>
							<img
								src="assets/icons/music-icon.png"
								alt=""
								class="hero-icon music-icon"
							/>
							<img
								src="assets/icons/pepino-icon.png"
								alt=""
								class="hero-icon pepino-icon"
							/>
							<img
								src="assets/icons/libro-icon.png"
								alt=""
								class="hero-icon libro-icon"
							/>
							<img
								src="assets/icons/cat-icon.svg"
								alt=""
								class="hero-icon cat-icon"
							/>
							<img
								src="assets/icons/code-icon.svg"
								alt=""
								class="hero-icon code-icon"
							/>
						</div>
					</div>
					<img
						src="assets/images/dager-perfil.png"
						class="rounded w-75"
						alt=""
					/>
				</div>
			</section>
			<section id="about-me">
				<div class="wave">
					<svg
						data-name="Layer 1"
						id="wave1"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 1200 120"
						preserveAspectRatio="none"
					>
						<path
							id="wave1"
							d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
							class="shape-fill"
						></path>
					</svg>
				</div>
			</section>
			<section id="contact"></section>
		</main>
		<footer></footer>
	</body>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"
	></script>
</html>
